.frame-1{
  display:grid;
  grid-template-columns:200px auto;
  height:20px;
  margin-bottom:10px;
}
.left{
  font-weight: bold;
}
.right{
  display:grid;
  justify-content:flex-end;
  grid-template-columns:100px 100px 100px 100px;
}
.item{
  margin-right: 5px;
  text-align: center;
}
.img-1{
  width:30px;
  display:none
}

.welcome{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #ddeff9;
}
.text-1{
  font-size:40px;
  font-weight: bold;
  text-align: center;
  margin-bottom:20px;
}
.content{
  display: grid;
	grid-template-columns: 291px 291px 291px 291px;
	grid-auto-rows: auto; /*容器長*/
	justify-content: center;
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	margin-top:12px;
  }

.box{
  background-color:#cbdde6;
  }

.img-2{
  width:100%;
  margin:0px;
}

@media (max-width: 1200px) {
  .content{
      grid-template-columns: repeat(2, 1fr); /*重複標記的軌道*/
      width:90%;
      grid-auto-rows: auto;
      margin: auto;
      margin-top:12px;
  }
}

@media (max-width: 600px) {
  .content{
    grid-template-columns: repeat(1, 1fr);
    width:90%;
    margin: auto;
    margin-top:12px;
    justify-content:center;
    }
  .right{
    grid-template-columns:auto;
  }
  .item{display:none}
  .img-1{
    display:block;
    }
  }