.frame-1{
    display:flex;
    height:20px;
    margin-bottom:10px;
}
.left{
    flex:none;
    width:200px;
    font-weight: bold;
}
.right{
    justify-content: flex-end;
    flex:auto;
    display:flex;
}
.item{
    flex: none;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}
.img-1{
    display:none;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #ddeff9;
    text-align: center;
}

.text-1{
    font-size:40px;
    font-weight: bold;
    text-align: center;
    margin-bottom:20px;
}

.text-2{
  margin-top:5px;
  margin-bottom:5px;
  text-align:center;
}

.img-2{
    height: 100%;
    width:100%;
	  margin:0px;
    object-fit: cover;
    object-position: center;
    
}
  
.wrapper {
  display: grid;
	grid-template-columns: 291px 291px 291px 291px;
	grid-auto-rows: auto;
	justify-content: center;
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	margin-top:12px;
  
  }

.box-1{
	background-color:#cbdde6;
  display: inline-grid;
  grid-auto-rows: 220px auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.button{
  margin-top:60px;
  margin-bottom:60px;
  width:140px;height:50px;
  font-size:20px;
  cursor:pointer;
}



@media (max-width: 1200px) {
  .wrapper{
      grid-template-columns: repeat(2, 1fr);
      width:90%;
      grid-auto-rows: auto;
      margin: auto;
      margin-top:12px;
  }

  .box-1{
    background-color:#cbdde6;
    display: inline-grid;
    grid-auto-rows:auto 50px;
  }

  .img-2{
    height: 100%;
    width:100%;
	  margin:0px;
    object-fit: cover;
    
}

}

@media (max-width: 600px) {
  .wrapper{
      grid-template-columns: repeat(1, 1fr);
      width:90%;
      margin: auto;
      margin-top:12px;
   }
   .box-1{
    background-color:#cbdde6;
    display: inline-grid;
  }

  .item{display:none}
  .img-1{display:inline-block;}

  }
